<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div class="item one">
        <div class="center-point"></div>
    </div>
    <div class="item two"></div>
    <div class="item three"></div>
    <div class="item four"></div>
    <div class="item five"></div>
    <div class="item six"></div>
    <div class="item seven"></div>
</div>
<div class="button-group">
    <span class="button" id="btn1">button1</span>
    <span class="button" id="btn2">button2</span>
    <span class="button" id="btn3">button3</span>
    <span class="button" id="btn4">button4</span>
    <span class="button" id="btn5">button5</span>
</div>
</body>
</html>